@media only screen and (max-width: 1400px) {
    .next-caro {
      left: 1060px;
    }
    .card-body {
      height: 354px;
    }
  }
  /*laptop*/
  @media only screen and (max-width: 1200px) {
    .banner-text {
      position: absolute;
      top: 35px;
      left: 140px;
      text-align: left;
    }
    .banner-lower-left h1 {
      font-size: 30px;
    }
    .banner-lower-left p {
      font-size: 18px;
    }
    .youtube-vid {
      width: 450px;
      height: 262px;
    }
    .about-tab-content p {
      font-size: 14px;
    }
    .img-text-hover-content {
      position: absolute;
      width: 94%;
      height: 445px;
    }
    .image-hover-text-1 {
      position: absolute;
      width: 48%;
      left: 12px;
      height: 238px;
    }
    .img-text-1 {
      position: absolute;
      top: 180px;
    }
    .image-hover-text-2 {
      position: absolute;
      width: 48%;
      left: 239px;
      height: 235px;
    }
    .img-text-3 {
      position: absolute;
      left: 25px;
      bottom: 15px;
    }
    .image-hover-text-3 {
      position: absolute;
      width: 48%;
      height: 228px;
    }
    .img-text-2 {
      position: absolute;
      left: 260px;
      top: 180px;
    }
    .image-hover-text-4 {
      width: 47%;
      top: 237px;
      left: 242px;
      height: 225px;
    }
    .img-text-4 {
      position: absolute;
      bottom: 15px;
      left: 265px;
    }
    .next-caro {
      left: 890px;
    }
    .card-body p {
      font-size: 16px;
    }
  }
  /*laptop*/
  
  /*tab*/
  
  @media only screen and (max-width: 992px) {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      gap: 40px;
    }
    .collapse {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }
    .banner-text {
      position: absolute;
      top: 60px;
      left: 140px;
      text-align: left;
    }
    .banner-text h1 {
      font-size: 22px;
      margin-bottom: 50px;
    }
    .banner-text button {
      height: 40px;
      width: 130px;
    }
    .banner-text a {
      font-size: 16px;
      color: white;
      text-decoration: none;
    }
  
    .banner-lower-left h1 {
      font-size: 22px;
    }
    .banner-lower-left p {
      font-size: 15px;
    }
    .youtube-vid {
      width: 320px;
      height: 238px;
    }
    .about-tab-content {
      margin-bottom: 20px;
      height: 370px;
    }
    .imaze-1 {
      margin-left: 0px;
    }
    .img-text-1 {
      position: absolute;
      top: 290px;
    }
    .img-text-2 {
      position: absolute;
      left: 380px;
      top: 295px;
    }
    .img-text-4 {
      position: absolute;
      bottom: 15px;
      left: 385px;
    }
    .img-text-3 {
      left: 40px;
    }
    .image-hover-text-1 {
      position: absolute;
      width: 48%;
      left: 14px;
      height: 361px;
    }
    .image-hover-text-2 {
      position: absolute;
      width: 48%;
      left: 360px;
      height: 360px;
    }
    .image-hover-text-3 {
      position: absolute;
      width: 49%;
      height: 353px;
    }
    .image-hover-text-4 {
      width: 48%;
      top: 360px;
      left: 360px;
      height: 360px;
    }
    .next-caro {
      left: 680px;
    }
    .prev-caro {
      left: -30px;
    }
    .owner-left hr {
      width: 65%;
    }
    .cards {
      margin-top: 20px;
    }
    .card-body p {
      font-size: 22px;
      line-height: 35px;
    }
    .anchor {
      color: red;
      font-size: 20px;
    }
    .aw {
      font-size: 20px;
      color: red;
      padding-left: 1rem;
    }
    .seter {
      display: block;
    }
  }
  
  /*tab*/
  
  /*small tab*/
  
  @media only screen and (max-width: 768px) {
    .nav-lower {
      display: flex;
      justify-content: space-evenly;
      gap: 12px;
      padding: 0px;
    }
    .navbar-nav {
      display: flex;
      flex-direction: row;
      gap: 40px;
      justify-content: center;
    }
    .collapse {
      margin-top: 20px;
      display: block;
      align-items: center;
    }
  
    .banner-text h1 {
      font-size: 18px;
      margin-bottom: 28px;
    }
  
    .banner-text {
      position: absolute;
      top: 20px;
      left: 90px;
      text-align: left;
    }
  
    .banner-text button {
      height: 28px;
      width: 71px;
    }
    .banner-text a {
      font-size: 12px;
      color: white;
      text-decoration: none;
    }
  
    .banner-lower {
      display: block;
    }
    .banner-lower-Right {
      margin-top: 35px;
    }
    .youtube-vid {
      width: 100%;
      display: flex;
      margin: 0 auto;
    }
    .about-tab-content p {
      font-size: 18px;
    }
    .img-text-1 {
      position: absolute;
      top: 200px;
    }
    .img-text-2 {
      position: absolute;
      left: 300px;
      top: 200px;
    }
    .img-text-3 {
      left: 35px;
    }
    .img-text-4 {
      left: 300px;
    }
    .image-hover-text-1 {
      position: absolute;
      width: 48%;
      left: 12px;
      height: 268px;
    }
    .image-hover-text-2 {
      position: absolute;
      width: 48%;
      left: 269px;
      height: 268px;
    }
    .image-hover-text-3 {
      position: absolute;
      width: 48%;
      height: 260px;
    }
    .image-hover-text-4 {
      width: 48%;
      top: 268px;
      left: 269px;
      height: 266px;
    }
    .next-caro {
      left: 500px;
    }
    .owner-left hr {
      margin-left: 52px;
    }
    .prev-caro {
      left: -10px;
    }
    .card-body p {
      font-size: 28px;
      line-height: 45px;
    }
  }
  
  /*small tab*/
  
  /*phone*/
  
  @media only screen and (max-width: 576px) {
    .nav-img {
      width: 100px;
    }
    .nav-lower {
      display: flex;
      justify-content: space-evenly;
      gap: 35px;
      padding: 0px;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
    .banner-text {
      position: absolute;
      top: 34px;
      left: 90px;
      text-align: left;
    }
    .banner-text h1 {
      font-size: 10px;
      margin-bottom: 17px;
    }
    .banner-text button {
      height: 25px;
      width: 71px;
    }
    .banner-text a {
      font-size: 12px;
    }
    .prev-caro {
      left: 30px;
    }
    .next-caro {
      left: 460px;
    }
    .owner-content {
      width: 75%;
    }
    .owner-left hr {
      margin-left: 42px;
    }
    .card-body p {
      font-size: 22px;
      line-height: 35px;
    }
  }
  
  /*phone*/
  